#cartaoHtml{
width: 460px;
height: 154px;
/*border-style: solid;
border-width: 1px;*/

}
#contentEsquerda{
    width: 200px;
    height: 154px;
  /*  border-style: solid;
    border-width: 1px;
    border-color: red;*/
    float: left;
}

#linha-vertical{
    height: 134px;/*Altura da linha*/
    float: left;
    border-left: 1px solid;
    border-color: #FFE69B;
    margin-top: 10px;

}

#contentDireita{
    
    width: 255px;
    height: 154px;
  /*  border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 0, 255)(4, 0, 255);*/
    float: left;
    

}

#plusoftImage{
 left: 20px;
 top: 22px;
 position: absolute;
}

p{
    font-family: arial,sans-serif,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    
    color: #959595;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    
}

.alinhamento{

    text-indent: 1.3em; 
    text-align: justify; 


}

#textoEsquerda{
    width: 200px;
    height: 82px;
   /* border-style: solid;
    border-width: 1px;
    border-color: green;*/
    float: left;
    margin-top: 74px;
    font-weight: 400;

}



#textoDireita{
  
    width: 255px;
    height: 120px;
   /* border-style: solid;
    border-width: 1px;
    border-color: rgb(233, 12, 185)(4, 0, 255);*/
    float: left;
    margin-top: 20px;
    font-weight: 550;

}

#previewImage{
    margin-bottom: 20px;

}

#btn-Preview-Image {
    background-color: #FF953E;
    position: relative;
    color: #fff;
    border: none;
    padding: 1.25em 2em;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  }
  #btn-Preview-Image:hover {
    background:rgb(236, 116, 17);
  }
  #btn-Preview-Image:focus {
    outline: none;
  }

  #btn-Convert-Html2Image {
    background-color: #FF953E;
    position: absolute;
    color: #fff;
    border: none;
    padding: 1.25em 2em;
    font-size: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
    text-decoration: none;
    margin-left: 100px;
  }
  #btn-Convert-Html2Image:hover {
    background:rgb(236, 116, 17);
  }
  #btn-Convert-Html2Image:focus {
    outline: none;
  }





  /*--------------------MODAL------------------------- */

  @media only screen and (min-width: 40em) {
    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .modal-overlay.active {
      opacity: 1;
      visibility: visible;
    }
  }
  /**
   * Modal
   */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
  }
  .modal .close-modal svg {
    width: 1.75em;
    height: 1.75em;
  }
  .modal .modal-content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
  }
  .modal.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .modal.active .modal-content {
    opacity: 1;
  }
  .modal.active .close-modal {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
  }
  
  /**
   * Mobile styling
   */
  @media only screen and (max-width: 39.9375em) {
    h1 {
      font-size: 1.5rem;
    }
  
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 0;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      padding: 0 !important;
    }
  
    .close-modal {
      right: 20px !important;
    }
  }
  